<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280406264657-ju7n0uiqqdg6m6r9n3o2ldel5fo4mkac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280406264657-ju7n0uiqqdg6m6r9n3o2ldel5fo4mkac</string>
	<key>API_KEY</key>
	<string>AIzaSyASYs_nez8zVZ5EEy5EYNwmY7U-B5D8410</string>
	<key>GCM_SENDER_ID</key>
	<string>280406264657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-55125</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-55125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280406264657:ios:a7b39ed6a77dd46b8e6170</string>
</dict>
</plist>